{% extends "base.html" %}
{%load unslugify %}
{% block barra %}
<div class="selectos_seleccion titulo">
	Ahorro y credito
</div>
<div id="numfamilias">{{num_familias}} Familias </div>  
{% endblock %}
{%block extra_header%}
<script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/ahorro-credito/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
{%endblock%}
{% block contenido %}

    <div class="sidebar">
        <h1>Graficos</h1>
        <a id="grafico1" href="#" onCLick="click_callback('ahorro')"class="grafo">Ahorro</a>
        <a id="grafico2" href="#" onCLick="click_callback('origen')"class="grafo">Origen del Crédito</a>
        <a id="grafico3" href="#" onCLick="click_callback('satisfaccion')"class="grafo">Satisfacción con el crédito</a>
        <a id="grafico4" href="#" onCLick="click_callback('uso')"class="grafo">Uso del crédito</a>
    </div>
   

<div class="cuerpo">
    <div id="grafo"></div>
   <div class="subindicador">Los Ahorros</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Sí</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_ahorro%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
<br>
<div class="subindicador">Los créditos</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th></th>
                <th>Número</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tr>
            <td>Recibe Crédito</td>
            {%for celda in tabla_credito.recibe%}
            <td>{{celda|floatformat}}</td>
            {%endfor%}
        </tr>
        <tr>
            <td>Recibe Crédito hace menos de 5 años</td>
            {%for celda in tabla_credito.menos%}
            <td>{{celda|floatformat}}</td>
            {%endfor%}
        </tr>
        <tr>
            <td>Recibe Crédito hace más de 5 años</td>
            {%for celda in tabla_credito.mas%}
            <td>{{celda|floatformat}}</td>
            {%endfor%}
        </tr>
        <tr>
            <td>Está al día con su crédito</td>
            {%for celda in tabla_credito.al_dia%}
            <td>{{celda|floatformat}}</td>
            {%endfor%}
        </tr>
    </table>
</div>
{% endblock %}
