{% extends "base.html" %}
{%load unslugify %}
{% block barra %}
<div class="selectos_seleccion titulo">
	Ánimales
</div>
<div id="numfamilias">{{num_familias}} Familias </div>  
{% endblock %}

{% block contenido %}
<div class="contenido">
    <div class="subindicador">Los Animales</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th></th>
                <th>Número</th>
                <th>%</th>
                <th>cantidad</th>
                <th>Cantidad/Familia</th>
            </tr>
        </thead>
        <tbody>
<!--            <tr>-->
<!--                <td>TOTAL</td>-->
<!--                <td>{{totales.numero}}</td>-->
<!--                <td>{{totales.porcentaje_num}}</td>-->
<!--                <td>{{totales.animales}}</td>-->
<!--                <td>{{totales.porcentaje_animal}}</td>-->
<!--            </tr>-->
            {%for fila in tabla%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <br>
    <div class="subindicador">Los Animales y la Producción</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Animal</th>
                <th>Cantidad</th>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Cantidad Producida</th>
                <th>Consumo</th>
                <th>Venta Libre</th>
                <th>Venta organizada</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_produccion%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}
