{% extends 'base.html'%}

{% block contenido %}
<style type="text/css">
.valores{
	display: none !important;
}

#cambiarconsulta{display: none !important;}
#nuevaconsulta{display: none !important;}
#labelfiltros{display: none !important;}
</style>
<br>
<center><div style="font-size:18px;color:#888a85;">Datos Generales de todas las encuestas</div></center>
</br>
<div class="subindicador">Número de personas en {{numero}} Familias entrevistadas</div>
<table style="width:100%;">
        <thead>
            <tr>
                <th>sexo</th>
                <th>numeros</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in escolaridad%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
        <center><img src="{{grafo_url}}" alt="Escolaridades" title="Escolaridades"></center>
<br>
<div class="subindicador">Departamentos entrevistados</div>
<table style="width:100%;">
        <thead>
            <tr>
                <th>Departamentos</th>
                <th>numeros</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in depart%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <center><img src="{{grafo_depart}}" alt="Departamentos Entrevistados" title="Departamentos Entrevistados"></center>
<br></br>
<div class="subindicador">Municipio entrevistados</div>
<table style="width:100%;">
        <thead>
            <tr>
                <th>Municipios</th>
                <th>numeros</th>
                <th>Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in munis%}
            <tr>
                {%for celda in fila %}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <center><img src="{{grafo_munis}}" alt="Municipios Entrevistados" title="Municipios Entrevistados"></center>
<br></br>


{% endblock %}
