<div id="indicadores">
    <div id="contenedor_indicadores">
        <a href="/familia" class="familia_sprite">Familias</a>
        <a href="/organizacion" class="organizacion_sprite">Organización</a>
        <a href="/tierra" class="tierra_sprite">Tierra</a>
        <a href="/animales"class="animales_sprite">Ánimales</a>
        <a href="/cultivos"class="cultivos_sprite">Cultivos</a>
        <a href="/opcionesmanejo"class="manejo_sprite">Opciones de manejo</a>
        <a href="/usosemilla"class="semilla_sprite">Uso de semilla</a>
        <a href="/suelo"class="suelo_sprite">Suelo</a>
        <a href="/ingresos" class="ingresos_sprite">Ingresos</a>
        <a href="/equipos" class="bienes_sprite">Bienes</a>
        <a href="/ahorro_credito" class="ahorro_sprite">Ahorro y crédito</a>
        <a href="/seguridad" class="seguridad_sprite">Seguridad alimentaria</a>
        <a href="/riesgo" class="riesgos_sprite">Riesgos</a>
        <div class="clean"></div>
    </div>
</div>
