{% extends "base.html" %}
{%load unslugify %}
{%block extra_header%}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".vulnerable").addClass("activa");
    });
    </script>
{%endblock%}
{% block barra %}
<div class="selectos_seleccion titulo">
	Riesgos
</div>
<div class="indicadores">
	{% include "nav_riesgos.html" %}
</div>
<div id="numfamilias">{{num_familias}} Familias </div>  
{% endblock %}

{% block contenido %}
<div class="contenido">
<div class="subindicador">Vulnerabilidades de las fincas</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>Fenomeno</th>
                <th>Causa</th>
                <th>Frecuencia</th>
                <th>%</th>
               
            </tr>
        </thead>
        <tbody>
            {%for a in lista2%}
               
            <tr>
                <td>{{a.1|unslugify}}</td>
                <td>{{a.0|unslugify}}</td>
                <td>{{a.2|floatformat}}</td>
                <td>{{a.3|floatformat}}</td>
           
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <br></br><br></br>
</div>
    
{% endblock %}
