<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/archivos/css/index.css" rel="stylesheet" type="text/css">
<title>Sistema de Monitoreo GPAE</title>
</head>
<body>
<div class="wrapper">
	<div class="nav"><img src="/archivos/imagen/entrar.png" alt="Entrar"> <a href="/admin/">Administraci&oacute;n</a></div>
	<div class="clean"></div>
	<div class="main">
		<div class="top">
			<div class="left">
				<div class="title">Sistema de Monitoreo<br><div class="name"><img src="/archivos/imagen/new/gpae_name_logo.png" alt="gpae"></div></div>
				<div class="intro-info">
				El <b>GPAE</b> es una instancia de coordinación interinstitucional de carácter amplio que está constituida por organizaciones no gubernamentales locales y nacionales, interesadas en la promoción de prácticas agro ecológicas, la facilitación de espacios de debates y reflexión sobre el tema y la realización de propuestas concretas a los tomadores de decisiones.
				</div>
			</div>
			<div class="right">
				<div class="info-module">
					<span>{{organizacion}}</span><br>Organizaciones
				</div>
				<div class="info-module">
					<span>{{familias}}</span><br>Familias
				</div>
			</div>
			<div class="clen"></div>
		</div>
		<div class="clean"></div>
		<div class="bottom">
			<a href="/index/" class="sprites monitoreo_sprite"></a>
			<a href="/general" class="sprites general_sprite"></a>
			<a href="/ayuda" class="sprites acerca_sprite"></a>
			<a href="#" class="sprites tutorial_sprite"></a>
			<div class="clean"></div>
		</div>
	</div>	
</div>
<div class="footer">
	<div class="wrapper">
		Sistema de Monitoreo <b>GPAE</b><br>
		Es un esfuerzo conjunto de <a href="http://simas.org.ni"><img src="/archivos/imagen/new/simas_logo.png" alt="Simas"></a>
	</div>
</div>
</body>
</html>
